nav {
    position: fixed;
    top:10px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #61dafb;
    color: #282c34;
    font-size: calc(10px + 2vmin);
    cursor: pointer;
}
